header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
header .container {
    position: relative;
    z-index: 2;
  }
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
.navbar{
      height: 60px;
  }

.navbar-brand{
    padding-right: 45px;
    margin-bottom: 2px;
    font-family: 'Homemade Apple', cursive;
    text-decoration: none;
    text-decoration-style: solid;
    font-weight: bolder;
    font-size: 25px;
    transform: rotate(-30deg);
    color: #ffff00;
}

#google{
    margin-left: 60px;
    
}

#google-search{
    color: #009432;
}

#google-search:hover{
    color: #fbbc05;
    cursor: pointer;
    transform: scale(1.2);
}

#udmy{
    color: #ff3f34;
}

#udmy:hover{
    color: #00d8d6;
    cursor: pointer;
    transform: scale(1.2);
}

#in-learning:hover{
    color: #00a0dc;
    cursor: pointer;
    transform: scale(1.2);
}

#robo{
    margin-left: 350px;
    margin-right: 50px;
}

#amex{
    margin-right: 50px;
}

#spinner-robo{
    color: #ffffff;
    font-size: 25px;
}

#spinner-amex{
    color: #ffffff ;
    font-size: 25px;
}

#spinner-web{
    color: #ffffff;
    font-size: 25px;
}

.dropdown-toggle::after { 
    content: none; 
}




#time{
    font-family: 'Quicksand';
    font-weight: bold;
    opacity: 0.9;

}

#greet{
    font-family: 'Quicksand';
    font-weight: bolder;
    color: #dfe6e9;
    margin-bottom: 30px;
}

.focus-topic{
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    color: #ff8a80;
    margin-bottom: 2px;
}

.focus{
    font-family: 'Quicksand';
    color: #ffab00;
    margin-bottom: 2px;
    text-align: left;
}

.focus1{
    font-family: 'Quicksand';
    color: #ffab00;
    margin-bottom: 2px;
    text-align: left;
}

  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }